* {
  margin: 0;
  padding: 0;
}
.header__background {
  height: 100px;
  width: 2600px;
  background-color: #F8F8F8;
}
.name__site {
  transform: translateY(-70px);
  margin-left: 400px;
  color: #6B422B;
  font-size: 32px;
  
}
.undername_site {
  font-weight: 500;
  color: #BF957D;
  transform: translateY(-85px);
  margin-left: 400px;
  font-size: 16px;
}
.number__phone {
  transform: translateY(-130px);
  margin-left: 700px;
  font-size: 18px;
}
.call__back {  
  position: absolute;
  top: 60px;
  left: 700px;
  color: rgb(207, 156, 14);  
  z-index: 10; 
}
.search {
  position: absolute;
  border-color: rgb(231, 231, 230);
  border-radius: 50px;
  width: 300px;
  height: 35px;
  top: 20px;
  left: 500px;
}
.search__button {
  position: absolute;
  top: 30px;
  left: 760px;
}
.book__marks {
  width: 7px;
  height: 3.5px;
  
}
.cart {
  position: absolute;
  top: 40px;
  left: 1700px;
}
.profile {
  position: absolute;
  top: 45px;
  left: 2000px;
}
.catalog {
  position: absolute;
  color: #F9A82F;
  top: 110px;
  left: 400px;
  font-weight: 900;
  font-size: 20px;
}
.home {
  position: absolute;
  color: black;
  top: 110px;
  left: 800px;
  font-weight: 900;
  font-size: 20px;
}
.about__us {
  position: absolute;
  color: black;
  top: 110px;
  left: 1100px;
  font-weight: 900;
  font-size: 20px;
}
.discount {
  position: absolute;
  color: black;
  top: 110px;
  left: 1400px;
  font-weight: 900;
  font-size: 20px;
}
.news {
  position: absolute;
  color: black;
  top: 110px;
  left: 1700px;
  font-weight: 900;
  font-size: 20px;
}
.contact {
  position: absolute;
  color: black;
  top: 110px;
  left: 2000px;
  font-weight: 900;
  font-size: 20px; 
}
.Slider {
  width: 100%;
  height: 100%;
}