.Slider-container {
    position: absolute;
    right: 0;
    bottom: 180px;
    width: 100vw;
    height: 600px;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .Slider-container img {
    width: 100%;
    height: 650px;
    object-fit: cover;
  }
  